<h1>All reservations</h1>
<% @reservation.each do |reservation| %>
  <h2><%= reservation.user_id %></h2>
  <p>room_id: <%= reservation.room_id %></p>
  <p>start_date: <%= reservation.start_date %></p>
  <p>end_date: <%= reservation.end_date %></p>
  <p>price: <%= reservation.price %></p>
  <p>total: <%= reservation.total %></p>
  <a href="/reservations/<%= reservation.id %>">More info</a>
<%= link_to "New reservation", new_reservation_path %>
<% end %>
