<h1>New Review</h1>
<%= form_with model: @review do |review| %>
  <div>
    <%= review.label :name %>
    <%= review.text_field :name %>
  </div>
  <div>
    <%= review.label :rating %>
    <%= review.text_field :rating %>
  </div>
  <div>
    <%= review.label :comment %>
    <%= review.text_field :comment %>
  </div>
  <div>
    <%= review.submit %>
  </div>
<% end%>